<app-nav-menu></app-nav-menu>
<div class="container">
    <div class="courses-container">
      <div class="course">
        <div class="course-preview">
          <h6>Title</h6>
          <h2>C# Developer</h2>
        </div>
        <div class="course-info">
          <div class="items-body">
              <div class="items-body-content">
                <h5>Description</h5>
               <p>C# is a modern, general purpose, object-oriented programming language designed around the Common Language Infrastructure. A great C# developer is capable of handling many aspects of developing an application, including but not limited to performance, scalability, security, testing, and more. C# developers can develop modern applications that run on desktop computers, or even sophisticated back-end processes powering modern web applications. The frameworks .Net and Mono combined allow a wide range of platforms to be targeted by applications developed with C#.</p><br>
               <h5>Requirements</h5>
                <p>Proficient in C#, with a good knowledge of its ecosystems , familiarity with the .NET framework,   and Microsoft SQL Server            </p>
            </div>
            
          </div>
         
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-6 md-3">
            <div class="course h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">
                 Projects
                </h6>
                <!-- <div *ngFor="let item of user.projects"> -->
                  <div class="items-body">
                    <div class="items-body-content" style="display: grid;">
                      <span>title</span>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6 md-3">
            <div class="course h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">
                 Quizes
                </h6>
                <!-- <div *ngFor="let item of user.projects"> -->
                  <div class="items-body">
                    <div class="items-body-content" style="display: grid;">
                      <span>title</span>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn pull-right">Enroll</button>
        </div>
      </div>


  </div>
  