<div class="container-fluid">
  <!-- <div *ngFor="let item of job.joblist" class="col-md-6 col-sm-12"> -->
  <div class="courses-container">
    <div class="course">
      <div class="course-preview">
        <h6>Title</h6>
        <h2>C#</h2>
      </div>
      <div class="course-info">
        <!-- <div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div> -->
        <div class="items-body">
          <a href="#">
            <div class="items-body-content">
              <span>15 Projects</span>
              <i class="fa fa-angle-right"></i>
              <span>10 Quizes</span>
              <i class="fa fa-angle-right"></i>
              <span>5 Projects</span>
              <i class="fa fa-angle-right"></i>
            </div>
          </a>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn pull-right">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
